.StudyBetterBG {
	width: 100%;
	height: 100%;
  }

.image{
	position: relative;
	width: 100%;
}

.logo{
	position: absolute;
	top: 8px;
	left: 8px;
	width: 180px;
	height: 120px;
}

.Study-Better {
	position: absolute;
	width: 372px;
	height: 76px;
	right: 719px;
	text-align: center;
	font-family: HelveticaNeue;
	font-size: 64px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
  }